 <p>hr-applicants-dashboard works!</p> 
 <!-- 
<div class="chart-wrapper">
    <h2>Vacancies</h2>
    <p-chart type="bar" [data]="vacancyData"></p-chart>
  </div>
  
  <div class="chart-wrapper">
    <h2>Applications</h2>
    <p-chart type="bar" [data]="applicationData"></p-chart>
  </div> -->
  <!-- <p-chart type="pie" [data]="candidatesData" [options]="chartOptions"></p-chart> -->

  <!-- <p-chart type="pie" [data]="pieChartData" [options]="chartOptions"></p-chart> -->

  <p-chart type="pie" [data]="data" [options]="chartOptions"  [style]="{'width': '40%'}"></p-chart>


