<div class="bg"><div class=" col-md-12 " ><br> <br><div style ="text-align: center"> <font  size="6" style="color:rgb(29, 4, 143)" align= "center">Ajouter Employe</font>
</div> <br> <br>
<div >
    <div >
      <div class="card p-fluid">
        
        <div class="p-formgrid grid">
          <div class="field col">
            <label htmlFor="fullname" for="fullname">Fullname</label>
            <input pInputText  id="fullname" type="text"  [(ngModel)]="employe.fullname"/>
          </div>
          <div class="field col">
            <label htmlFor="picture" for="picture">picture</label>
            <input pInputText  id="picture" type="text"  [(ngModel)]="employe.picture"/>
          </div>
        </div>
        <div class="p-formgrid grid">
          <div class="field col">
            <label htmlFor="email" for="email">email</label>
            <input pInputText  id="email" type="text"  [(ngModel)]="employe.email"/>
          </div>
          <div class="field col">
            <label htmlFor="phone" for="phone">phone</label>
            <input pInputText  id="phone" type="number"  [(ngModel)]="employe.phone"/>
          </div>
        </div>
        <div class="p-formgrid grid">
          <div class="field col">
            <label htmlFor="address" for="address">address</label>
            <input pInputText  id="address" type="text"  [(ngModel)]="employe.address"/>
          </div>
          <div class="field col">
            <label htmlFor="role" for="role">role</label>
            <input pInputText  id="role" type="text"  [(ngModel)]="employe.role"/>
          </div>
        </div>
        <div class="p-formgrid grid">
          <div class="field col">
            <label htmlFor="salary" for="salary">salary</label>
            <input pInputText  id="salary" type="number" [(ngModel)]="employe.salary"/>
          </div>
          <div class="field col">
            <label htmlFor="jobtitle" for="jobtitle">jobtitle</label>
            <input pInputText  id="jobtitle" type="text"  [(ngModel)]="employe.jobtitle"/>
          </div>
        </div>
        <div class="p-formgrid grid">
          <div class="field col">
            <label htmlFor="jobtype" for="jobtype">jobtype</label>
            <input pInputText  id="jobtype" type="text" [(ngModel)]="employe.jobtype"/>
          </div>
          <div class="field col">
            <label htmlFor="firstday" for="firstday">firstday</label>
            <input pInputText  id="firstday" type="date"  [(ngModel)]="employe.firstday"/>
          </div>
        </div>
        <div class="p-formgrid grid">
          
          <div class="field col">
            <label htmlFor="lastday" for="lastday">lastday</label>
            <input pInputText  id="lastday" type="date"  [(ngModel)]="employe.lastday"/>
          </div>
          <div class="field col">
            <label htmlFor="dateofbirth" for="dateofbirth">dateofbirth</label>
            <input pInputText  id="jobtype" type="date" [(ngModel)]="employe.dateofbirth"/>
          </div>
        </div>
        <div class="p-formgrid grid">
          
          <div class="field col">
            <label htmlFor="departement" for="departement">Departement</label>
            <p-dropdown placeholder="selectionner departement " [options]="dep" 
              [(ngModel)]="dept" id="departement" optionLabel="name" ></p-dropdown>
          </div>
        </div>
      </div>

          
            

<div style ="text-align: right">   
    <button  pButton type="button" icon="pi pi-save" class="bn632-hover bn26"  (click)="saveEmploye()"  label="sauvegarder"></button>
</div>
</div>
</div></div>
</div>
<p-toast></p-toast>


