<div class="login-body">
  <div class="logo">
    <img src="assets/layout/images/harmony-logo.png" alt="harmony-layout" />
    <span class="app-name">HARMONY</span>
  </div>
  <div class="login-panel">
    <div class="left-part">
      <span class="login-panel-header">Sign in To Harmony</span>
      <span class="login-panel-subheader">Welcome, please use the form to sign-in Harmony network</span>
      <div style="margin-top: 32px">
        <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="p-field" [ngClass]="{'p-invalid': !loginForm.controls.username.valid && loginForm.controls.username.dirty}">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input id="username" type="text" pInputText formControlName="username" placeholder="Username" required
                [ngClass]="{'invalid': isUsernameInvalid()}" (input)="isUsernameValid = loginForm.controls.username.valid"/>
            </div>
            <p-message severity="error" *ngIf="isUsernameInvalid()" [text]="getErrorMessage()"></p-message>
          </div>

          <div class="p-field" [ngClass]="{'p-invalid': !loginForm.controls.password.valid && loginForm.controls.password.dirty}">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
              <input id="password" type="password" pPassword formControlName="password" placeholder="Password" required
                [ngClass]="{'invalid': isPasswordInvalid()}" (input)="isPasswordInvalid()"/>
            </div>
            <p-message severity="error" *ngIf="isPasswordInvalid()" [text]="getErrorMessage()"></p-message>
          </div>
          <button pButton type="submit" label="Login" class="p-mt-3" [disabled]="!loginForm.valid"></button>
          <div class="p-grid p-nogutter">
            <div class="p-col-6">
              <a routerLink="/forgot-password">Forgot password?</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <p-toast></p-toast>
    <div class="right-part">
      <img src="assets/layout/images/login3.png" alt="harmony-layout" />
    </div>
  </div>
</div>
