body {
    .ui-paginator {
        background-color: $paginatorBgColor;
        border: $paginatorBorder;
        padding: $paginatorPadding;

        .ui-paginator-first,
        .ui-paginator-prev,
        .ui-paginator-next,
        .ui-paginator-last {
            color: $paginatorIconColor;
            height: $paginatorElementHeight;
            min-width: $paginatorElementWidth;
            border: $paginatorElementBorder;
            line-height: $paginatorElementHeight;
            padding: $paginatorElementPadding;
            margin: $paginatorElementMargin;
            vertical-align: top;

            &:not(.ui-state-disabled):not(.ui-state-active):hover {
                background-color: $paginatorElementHoverBgColor;
                color: $paginatorElementHoverIconColor;
            }
        }

        .ui-paginator-first {
            &:before {
                position: relative;
                top: 1px;
            }
        }

        .ui-paginator-prev {
            &:before {
                position: relative;
            }
        }

        .ui-paginator-next {
            &:before {
                position: relative;
                top: 1px;
            }
        }

        .ui-paginator-last {
            &:before {
                position: relative;
                top: 1px;
            }
        }

        .ui-paginator-pages {
            vertical-align: top;
            display: inline-block;
            padding: 0;

            .ui-paginator-page {
                color: $paginatorIconColor;
                height: $paginatorElementHeight;
                min-width: $paginatorElementWidth;
                border: $paginatorElementBorder;
                line-height: $paginatorElementHeight;
                padding: $paginatorElementPadding;
                margin: $paginatorElementMargin;
                vertical-align: top;

                &.ui-state-active {
                    background-color: $highlightBgColor;
                    color: $highlightColorText;
                }

                &:not(.ui-state-active):hover {
                    background-color: $paginatorElementHoverBgColor;
                    color: $paginatorElementHoverIconColor;
                }
            }
        }

        .ui-dropdown {
            margin-left: $inlineSpacing;
            height: $paginatorElementHeight;
            min-width: auto;
        }
    }

    .ui-table {
        .ui-table-caption,
        .ui-table-summary {
            background-color: $panelHeaderBgColor;
            color: $panelHeaderTextColor;
            border: $panelHeaderBorder;
            padding: $panelHeaderPadding;
            font-weight: $panelHeaderFontWeight;
            text-align: center;
        }

        .ui-table-caption {
            border-bottom: 0 none;
        }

        .ui-table-summary {
            border-top: 0 none;
        }

        .ui-table-thead > tr > th {
            padding: $tableHeaderCellPadding;
            border: $tableHeaderCellBorder;
            font-weight: $tableHeaderCellFontWeight;
            color: $tableHeaderCellTextColor;
            background-color: $tableHeaderCellBgColor;
        }

        .ui-table-tbody > tr > td {
            padding: $tableBodyCellPadding;
        }

        .ui-table-tfoot > tr > td {
            padding: $tableFooterCellPadding;
            border: $tableFooterCellBorder;
            font-weight: $tableFooterCellFontWeight;
            color: $tableFooterCellTextColor;
            background-color: $tableFooterCellBgColor;
        }

        .ui-sortable-column {
            &:not(.ui-state-highlight):hover {
                background-color: $tableHeaderCellHoverBgColor;
                color: $tableHeaderCellHoverTextColor;
            }

            &.ui-state-highlight {
              background-color: $highlightBgColor;
              color: $highlightColorText;
            }
        }

        .ui-table-tbody {
            > tr {
                background: $tableBodyRowBgColor;
                color: $tableBodyRowTextColor;

                > td {
                    background: inherit;
                    border: $tableBodyCellBorder;
                }

                &.ui-state-highlight {
                    background-color: $highlightBgColor;
                    color: $highlightColorText;
                }

                &.ui-contextmenu-selected {
                    background-color: $highlightBgColor;
                    color: $highlightColorText;
                }
            }

            > tr:nth-child(even) {
                background-color: $tableBodyRowEvenBgColor;

                &.ui-state-highlight {
                    background-color: $highlightBgColor;
                    color: $highlightColorText;
                }

                &.ui-contextmenu-selected {
                    background-color: $highlightBgColor;
                    color: $highlightColorText;
                }
            }
        }

        &.ui-table-hoverable-rows {
            .ui-table-tbody > tr:not(.ui-state-highlight):hover {
                cursor: pointer;
                background-color: $tableBodyRowHoverBgColor;
                color: $tableBodyRowHoverTextColor;
            }
        }

        .ui-column-resizer-helper {
            background-color: $tableResizerHelperBgColor;
        }
    }

    @media screen and (max-width: 40em) {
        .ui-table {
            &.ui-table-responsive {
                .ui-paginator-top {
                    border-bottom: $paginatorBorder;
                }

                .ui-paginator-bottom {
                    border-top: $paginatorBorder;
                }

                .ui-table-tbody > tr > td {
                    border: 0 none;
                }
            }
        }
    }

    .ui-datagrid {
        .ui-datagrid-header {
            background-color: $panelHeaderBgColor;
            color: $panelHeaderTextColor;
            border: $panelHeaderBorder;
            padding: $panelHeaderPadding;
            font-weight: $panelHeaderFontWeight;
            border-bottom: 0 none;
        }

        .ui-datagrid-content {
            padding: $panelContentPadding;
            border: $panelContentBorder;
            background-color: $panelContentBgColor;
            color: $panelContentTextColor;
            padding: $panelContentPadding;
        }

        .ui-datagrid-footer {
            background-color: $panelFooterBgColor;
            color: $panelFooterTextColor;
            border: $panelFooterBorder;
            padding: $panelFooterPadding;
            border-top: 0 none;
        }
    }

    .ui-datalist {
        .ui-datalist-header {
            background-color: $panelHeaderBgColor;
            color: $panelHeaderTextColor;
            border: $panelHeaderBorder;
            padding: $panelHeaderPadding;
            font-weight: $panelHeaderFontWeight;
            border-bottom: 0 none;
        }

        .ui-datalist-content {
            padding: $panelContentPadding;
            border: $panelContentBorder;
            background-color: $panelContentBgColor;
            color: $panelContentTextColor;
            padding: $panelContentPadding;
        }

        .ui-datalist-footer {
            background-color: $panelFooterBgColor;
            color: $panelFooterTextColor;
            border: $panelFooterBorder;
            padding: $panelFooterPadding;
            border-top: 0 none;
        }
    }

    .ui-datascroller {
        .ui-datascroller-header {
            background-color: $panelHeaderBgColor;
            color: $panelHeaderTextColor;
            border: $panelHeaderBorder;
            padding: $panelHeaderPadding;
            font-weight: $panelHeaderFontWeight;
            border-bottom: 0 none;
        }

        .ui-datascroller-content {
            padding: $panelContentPadding;
            border: $panelContentBorder;
            background-color: $panelContentBgColor;
            color: $panelContentTextColor;
            padding: $panelContentPadding;
        }

        .ui-datascroller-footer {
            background-color: $panelFooterBgColor;
            color: $panelFooterTextColor;
            border: $panelFooterBorder;
            padding: $panelFooterPadding;
            border-top: 0 none;
        }
    }
    
    .ui-dataview {
        .ui-dataview-header {
            background-color: $panelHeaderBgColor;
            color: $panelHeaderTextColor;
            border: $panelHeaderBorder;
            padding: $panelHeaderPadding;
            font-weight: $panelHeaderFontWeight;
            border-bottom: 0 none;
        }

        .ui-dataview-content {
            padding: $panelContentPadding;
            border: $panelContentBorder;
            background-color: $panelContentBgColor;
            color: $panelContentTextColor;
            padding: $panelContentPadding;
        }

        .ui-dataview-footer {
            background-color: $panelFooterBgColor;
            color: $panelFooterTextColor;
            border: $panelFooterBorder;
            padding: $panelFooterPadding;
            border-top: 0 none;
        }
    }

    .fc {
        th {
            background-color: $panelHeaderBgColor;
            border: $panelHeaderBorder;
            color: $panelHeaderTextColor;
            padding: $panelHeaderPadding;
        }

        td {
            &.ui-widget-content {
                background-color: $panelContentBgColor;
                border: $panelContentBorder;
                color: $panelContentTextColor;
            }

            &.fc-head-container {
                border: $panelHeaderBorder;
            }
        }

        .fc-event {
            background-color: $scheduleEventBgColor;
            border: $scheduleEventBorder;
            color: $scheduleEventTextColor;
        }

        .fc-toolbar {
            .ui-button {
                .ui-icon-circle-triangle-w {
                    margin-top: 0.214em;
                    @include icon_override_fa("\f053");
                }

                .ui-icon-circle-triangle-e {
                    margin-top: 0.214em;
                    @include icon_override_fa("\f054");
                }

                &:focus {
                    outline: 0 none;
                }
            }
        }

        .fc-divider {
            background-color: $panelHeaderBgColor;
            border: $panelHeaderBorder;
        }
    }

    .ui-fluid {
        .fc {
            .fc-toolbar {
                .ui-button {
                    width: auto;
                }
            }
        }
    }
}

/*body {
    
    .ui-datascroller {
        .ui-datascroller-header,
        .ui-datascroller-footer {
            padding: $headerPadding;
        }
    }

    .ui-picklist {
        .ui-picklist-buttons {
            button {
                font-size: $fontSize + 2;
            }
        }

        .ui-picklist-caption {
            padding: $headerPadding;
        }

        .ui-picklist-filter-container {
            margin-bottom: -1px;

            .fa {
                color: $textSecondaryColor;
            }
        }

        .ui-picklist-list {
            .ui-picklist-item {
                padding: $listItemPadding;
                margin: 0;
                @include border-radius(0);

                &:not(.ui-state-highlight):hover {
                    @include list-item-hover();
                }

                &.ui-state-highlight {
                    background-color: $highlightBgColor;
                }
            }
        }
    }

    .ui-orderlist {
        .ui-orderlist-controls {
            margin-right: 10px;

            button {
                font-size: $fontSize + 2;
            }
        }

        .ui-orderlist-caption {
            padding: $headerPadding;
            box-sizing: border-box;
            width: 200px;
        }

        .ui-orderlist-filter-container {
            margin-bottom: -1px;

            .fa {
                color: $textSecondaryColor;
            }
        }

        .ui-orderlist-list {
            box-sizing: border-box;

            .ui-orderlist-item {
                padding: $listItemPadding;
                margin: 0;
                @include border-radius(0);

                &:not(.ui-state-highlight):hover {
                    @include list-item-hover();
                }

                &.ui-state-highlight {
                    background-color: $highlightBgColor;
                }
            }
        }

        &.ui-grid-responsive {
            .ui-grid-row {
                .ui-orderlist-controls {
                    margin-right: 0;
                    padding-right: 10px;
                }
            }
        }
    }

    .ui-carousel {
        padding: 0;

        .ui-carousel-header {
            padding: $headerPadding;
            margin: 0;
            border: 0 none;
            border-bottom: 1px solid $headerBorderColor;
            @include border-radius(0);

            .ui-carousel-header-title {
                padding: 0;
            }
        }

        .ui-carousel-footer {
            padding: $headerPadding;
            border: 0 none;
            border-top: 1px solid $headerBorderColor;
            margin: 0;
            @include border-radius(0);
        }

        .ui-carousel-button {
            margin-top: .4em;
            @include transition(color .3s);
            color: $headerIconColor;

            &.ui-carousel-next-button {
                @include icon-override("\f054");
            }

            &.ui-carousel-prev-button {
                @include icon-override("\f053");
            }

            &:not(.ui-state-disabled):hover {
                color: $headerIconHoverColor;
            }
        }

        .ui-carousel-page-links {
            margin-top: .4em;

            .ui-carousel-page-link {
                color: $headerIconColor;
                @include transition(color $transitionDuration);

                &:hover {
                    color: darken($headerIconColor, 10%);
                }

                &.fa-dot-circle-o {
                    color: $headerIconColor;
                }
            }
        }
    }

    .ui-organizationchart {
        .ui-organizationchart-node-content {
            &.ui-organizationchart-selectable-node:not(.ui-state-highlight):hover {
                @include list-item-hover();
            }

            &.ui-state-highlight {
                .ui-node-toggler {
                    i {
                        color: darken($primaryColor, 25%);
                    }
                }
            }
        }
        .ui-organizationchart-line-down {
            background-color: darken($contentBorderColor, 10%);
        }

        .ui-organizationchart-line-left {
            border-right: 1px solid darken($contentBorderColor, 10%);
        }

        .ui-organizationchart-line-right {

        }

        .ui-organizationchart-line-top {
            border-top: 1px solid darken($contentBorderColor, 10%);
        }

        .ui-organizationchart-node-content {
            border-color: darken($contentBorderColor, 10%);
        }

        .ui-organizationchart-node-content .ui-node-toggler {
            color: darken($contentBorderColor, 10%);
            bottom: -.7em;
            margin-left: -.46em;
        }
    }

    .ui-treetable {
        .ui-treetable-header {
            padding: $headerPadding;
        }

        .ui-treetable-footer {
            padding: $headerPadding;
        }

        thead {
            th {
                background-color: #ffffff;
                padding: $headerPadding;
                border-color: $contentBorderColor;
                color: $textColor;

                &.ui-state-hover {
                    @include list-item-hover();
                }

                &.ui-state-active {
                    background-color: $primaryColor;
                    border-color: darken($primaryColor,5%);
                }

                .ui-column-title {
                    font-weight: 700;
                }
            }
        }

        tfoot {
            td {
                background-color: #ffffff;
                padding: $headerPadding;
                border-color: $dividerColor;
            }
        }

        tbody {
            > div {
                &.ui-treetable-row-selectable {
                    cursor: pointer;

                    &:not(.ui-state-highlight):hover {
                        background-color: $listItemHoverBgColor;
                        border-color: darken($contentBorderColor,5%);
                    }

                    &.ui-state-highlight {
                        background-color: $highlightBgColor;
                        border-color: darken($primaryColor,5%);

                        .ui-treetable-toggler {
                            color: #ffffff;
                        }
                    }
                }

                td {
                    padding: $contentPadding;

                    .ui-treetable-toggler {
                        font-size: $fontSize + 2;
                        vertical-align: middle;
                        display: inline-block;
                        float: none;
                        color: $textColor;
                        line-height: inherit;
                    }

                    .ui-treetable-checkbox .ui-chkbox-icon {
                        margin: 0;

                        &.fa-check {
                            color: $primaryColor;
                        }
                    }
                }
            }
        }
    }

    .ui-tree {
        padding: .25em .5em;

        .ui-treenode {
            padding: .15em 0;

            .ui-treenode-content {
                padding: 0 0 .25em 0;

                .ui-tree-toggler {
                    font-size: $fontSize + 2;
                    vertical-align: middle;
                    display: inline-block;
                    float: none;
                    margin: 0;
                }

                .ui-treenode-icon {
                    vertical-align: middle;
                    display: inline-block;
                    margin: 0;
                    font-size: $fontSize + 2;
                }

                .ui-treenode-label {
                    margin: 0;
                    vertical-align: middle;
                    display: inline-block;
                    padding: 0 .25em;

                    &.ui-state-highlight {
                        background-color: $highlightBgColor;
                    }
                }

                .ui-chkbox {
                    margin: 0 .25em;

                    .ui-chkbox-icon {
                        margin: 0;
                    }
                }

                &.ui-treenode-selectable {
                    .ui-treenode-label:not(.ui-state-highlight):hover {
                        @include list-item-hover();
                    }
                }

                > span {
                    line-height: inherit;
                }

                &.ui-treenode-dragover {
                    @include list-item-hover();
                }
            }
        }

        &.ui-tree-horizontal {
            padding: .85em 0;

            .ui-treenode {
                background: url("../layout/images/tth-connector.png") repeat-x scroll center center transparent;

                .ui-treenode-content {
                    padding: $contentPadding;
                    background-color: $contentBgColor;
                    border: 1px solid $contentBorderColor;

                    &.ui-state-highlight {
                        @include list-item-highlight();
                    }

                    .ui-chkbox {
                        .ui-icon {
                            color: $primaryColor;
                        }
                    }

                    .ui-treenode-label:not(.ui-state-highlight):hover {
                        background-color: inherit;
                        color: inherit;
                    }

                    &.ui-treenode-selectable:not(.ui-state-highlight):hover {
                        @include list-item-hover();
                    }
                }
            }

            .ui-treenode-connector-line {
                background: url("../layout/images/tth-connector.png") repeat-y scroll 0 0 transparent
            }
        }
    }

    .fc {
        .fc-toolbar {
            .ui-icon-circle-triangle-e {
                @include icon_override("\f054");
                height: auto;
                width: auto;
                overflow: visible;
            }

            .ui-icon-circle-triangle-w {
                @include icon_override("\f053");
                height: auto;
                width: auto;
                overflow: visible;
            }
        }
        .fc-event-container {
            .fc-event {
                border-color: $primaryColor;
                background-color: darken($primaryColor,5%);
            }
        }
    }
}
*/