body {
    .ui-panel {
        padding: 0;
        border: 0 none;

        .ui-panel-titlebar {
            border: $panelHeaderBorder;
            padding: $panelHeaderPadding;
            background-color: $panelHeaderBgColor;
            color: $panelHeaderTextColor;
            @include border-radius-top($borderRadius);
            @include border-radius-bottom(0);

            .ui-panel-title {
                vertical-align: middle;
                font-weight: $panelHeaderFontWeight;
            }

            .ui-panel-titlebar-icon {
                margin: 0;
                position: relative;
                font-size: $fontSize;
                color: $panelHeaderIconColor;
                border: 1px solid transparent;
                @include transition($panelHeaderIconTransition);

                &:hover {
                    color: $panelHeaderIconHoverColor;
                }
            }
        }

        .ui-panel-content {
            padding: $panelHeaderPadding;
            border: $panelContentBorder;
            background-color: $panelContentBgColor;
            color: $panelContentTextColor;
            padding: $panelContentPadding;
            border-top: 0 none;

            p {
                line-height: 1.5;
                margin: 0;
            }
        }

        .ui-panel-footer {
            padding: $panelFooterPadding;
            border: $panelFooterBorder;
            background-color: $panelFooterBgColor;
            color: $panelFooterTextColor;
            border-top: 0 none;
            margin: 0;
        }

        &.ui-panel-collapsed-h {
            .ui-panel-titlebar {
                padding-left: 40px;
            }
        }
    }
}

/*body {


    .ui-fieldset {
        padding: 0 0 .5em 0;

        .ui-fieldset-legend {
            border: 1px solid $headerBorderColor;
            color: $headerTextColor;
            background-color: $headerBgColor;
            margin-left: .75em;
            @include transition(background-color $transitionDuration);

            .ui-fieldset-toggler {
                float: none;
                display: inline-block;
                vertical-align: middle;
                margin-right: .5em;
                color: $headerIconColor;
            }
        }

        .ui-fieldset-legend-text{
          color: $headerIconColor;
        }

        &.ui-fieldset-toggleable {
            .ui-fieldset-legend {
                &:hover {
                    background-color: darken($primaryColor, 5%);
                }

                &:focus {
                    background-color: darken($primaryColor, 5%);
                }
            }
        }

        .ui-fieldset-content {
            padding: $contentPadding;
        }
    }

    .ui-notificationbar {
        background-color: $primaryColor;
        color: #ffffff;
    }

    .ui-accordion {
        .ui-accordion-header {
            background-color: $contentBgColor;
            color: $textColor;
            font-size: $fontSize;
            border: 1px solid $contentBorderColor;
            @include transition(background-color $transitionDuration);
            margin-bottom: 0;

            &:not(.ui-state-active):not(.ui-state-disabled):hover {
                background-color: $headerHoverBgColor;

                a {
                    background-color: $headerHoverBgColor;
                }
            }

            &:not(.ui-state-disabled).ui-state-active {
                background-color: $primaryColor;
                color: $primaryTextColor;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                a {
                    color: $primaryTextColor;

                    &:focus {
                        background-color: darken($primaryColor ,10%);
                    }
                }

                span {
                    color: $primaryTextColor;
                }

                .fa {
                    color: $primaryTextColor;
                }
            }

            .fa-caret-right {
                @include icon_override("\f054");
            }

            .fa-caret-down {
                @include icon_override("\f078");
            }

            > a {
                padding: $headerPadding;
                color: $textColor;
                outline: 0 none;
                @include transition(background-color $transitionDuration);

                &:focus {
                    background-color: $headerHoverBgColor;
                }
            }

            > span {
                color: $textColor;
            }
        }

        .ui-accordion-content {
            padding: $contentPadding;
        }
    }

    .ui-tabview {
        padding: 0;

        &.ui-tabview-top,&.ui-tabview-bottom,&.ui-tabview-left,&.ui-tabview-right {
            border: 0 none;
            background: transparent;

            .ui-tabview-nav {
                padding: 0;
                border: 0 none;
                background: $primaryColor;
                @include box-sizing(border-box);
                @include border-radius(0);

                li {
                    position: static;
                    @include transition(background-color $transitionDuration);
                    @include border-radius(0);
                    margin: 0;
                    box-sizing: border-box;
                    background-color: $primaryColor;
                    border-right: 1px solid darken($primaryColor, 5%);
                    margin-right: 0;

                    a {
                        @include transition(background-color $transitionDuration);
                        padding: $tabHeaderPadding;
                        color: $headerTextColor;
                        outline: 0 none;

                        .ui-tabview-left-icon {
                            margin-right: .25em;
                        }

                        .ui-tabview-right-icon {
                            margin-left: .25em;
                        }

                        &:focus {
                            background-color: darken($primaryColor, 15%);
                        }
                    }

                    .ui-tabview-close {
                        margin-top: .65em;
                    }

                    &:not(.ui-state-active):not(.ui-state-disabled):hover {
                        background-color: darken($primaryColor, 15%);

                        .fa-times {
                            color: $headerIconHoverColor;
                        }
                    }

                    &.ui-state-active {
                        background-color: $highlightBgColor;
                        color: $primaryTextColor;

                        a {
                            color: $primaryTextColor;

                            &:focus {
                                background-color: darken($highlightBgColor, 15%);
                            }
                        }

                        .ui-icon-close {
                            color: $highlightTextColor;
                        }
                    }

                    .ui-icon-close {
                        color: $headerIconColor;
                        margin-top: .5em;
                    }
                }
            }
        }

        &.ui-tabview-left,&.ui-tabview-right {
            .ui-tabview-nav {
                li, li a {
                    width: 100%;
                }
            }

            .ui-tabview-panel {
                border-top: 1px solid $contentBorderColor;
                border-left: 0 none;
                border-right: 0 none;
            }
        }

        .ui-tabview-panel {
            padding: $contentPadding;
            border: 1px solid $contentBorderColor;
            border-top: 0 none;
        }
    }

    .ui-toolbar {
        background-color: $contentBgColor;
        border-color: $contentBorderColor;
        padding: $headerPadding;

        .fa-bars {
          color: black;
        }
    }
}

@media (max-width: 640px) {
    body {
        .ui-panelgrid {
            .ui-grid-responsive {
                .ui-grid-row {
                    border: 0 none;
                }
            }
        }
    }
}
*/