body {
    .ui-widget-content {
        p {
            line-height: 1.5;
            margin: 0;
        }
    }

    .ui-panel {
        padding: 0;
        border: 0 none;

        .ui-panel-titlebar {
            border: $panelHeaderBorder;
            padding: $panelHeaderPadding;
            background-color: $panelHeaderBgColor;
            color: $panelHeaderTextColor;
            @include border-radius-top($borderRadius);
            @include border-radius-bottom(0);

            .ui-panel-title {
                vertical-align: middle;
                font-weight: $panelHeaderFontWeight;
            }

            .ui-panel-titlebar-icon {
                margin: 0;
                position: relative;
                font-size: $fontSize;
                color: $panelHeaderIconColor;
                border: 1px solid transparent;
                @include transition($panelHeaderIconTransition);

                &:hover {
                    color: $panelHeaderIconHoverColor;
                }
            }
        }

        .ui-panel-content {
            padding: $panelContentPadding;
            border: $panelContentBorder;
            background-color: $panelContentBgColor;
            color: $panelContentTextColor;
            padding: $panelContentPadding;
            border-top: 0 none;
        }

        .ui-panel-footer {
            padding: $panelFooterPadding;
            border: $panelFooterBorder;
            background-color: $panelFooterBgColor;
            color: $panelFooterTextColor;
            border-top: 0 none;
            margin: 0;
        }
    }

    .ui-fieldset {
        border: $panelContentBorder;
        background-color: $panelContentBgColor;
        color: $panelContentTextColor;

        .ui-fieldset-legend {
            a {
                padding: $panelHeaderPadding;
                border: $panelHeaderBorder;
                color: $panelHeaderTextColor;
                background-color: $panelHeaderBgColor;

                .ui-fieldset-toggler {
                    float: none;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: .5em;
                    color: $panelHeaderIconColor;
                }
    
                .ui-fieldset-legend-text{
                    padding: 0;
                }
            }
        }

        &.ui-fieldset-toggleable {
            .ui-fieldset-legend {
                a {
                    &:hover {
                        background-color: $panelHeaderHoverBgColor;
                        border: $panelHeaderHoverBorder;
                        color: $panelHeaderHoverTextColor;
    
                        .ui-fieldset-toggler {
                            color: $panelHeaderHoverIconColor;
                        }
                    }
                }
            }
        }

        .ui-fieldset-content {
            padding: 0;
        }
    }

    .ui-accordion {
        .ui-accordion-header {
            margin-bottom: $accordionSpacing;

            a {
                padding: $panelHeaderPadding;
                border: $panelHeaderBorder;
                color: $panelHeaderTextColor;
                background-color: $panelHeaderBgColor;
                color: $panelHeaderTextColor;

                .ui-accordion-toggle-icon {
                    color: $panelHeaderIconColor;
                }
            }

            &:not(.ui-state-active):not(.ui-state-disabled):hover {
                a {
                    background-color: $panelHeaderHoverBgColor;
                    border: $panelHeaderHoverBorder;
                    color: $panelHeaderHoverTextColor;

                    .ui-accordion-toggle-icon {
                        color: $panelHeaderHoverIconColor;
                    }
                }
            }

            &:not(.ui-state-disabled).ui-state-active {
                a {
                    background-color: $panelHeaderActiveBgColor;
                    border: $panelHeaderActiveBorder;
                    color: $panelHeaderActiveTextColor;
                    
                    .ui-accordion-toggle-icon {
                        color: $panelHeaderActiveIconColor;
                    }
                }
            }

            .fa-caret-right {
                @include icon_override("\f054");
            }

            .fa-caret-down {
                @include icon_override("\f078");
            }
        }

        .ui-accordion-content {
            padding: $panelContentPadding;
            border: $panelContentBorder;
            background-color: $panelContentBgColor;
            color: $panelContentTextColor;
            padding: $panelContentPadding;
        }
    }
}

/*body {



    .ui-tabview {
        padding: 0;

        &.ui-tabview-top,&.ui-tabview-bottom,&.ui-tabview-left,&.ui-tabview-right {
            border: 0 none;
            background: transparent;

            .ui-tabview-nav {
                padding: 0;
                border: 0 none;
                background: $primaryColor;
                @include box-sizing(border-box);
                @include border-radius(0);

                li {
                    position: static;
                    @include transition(background-color $transitionDuration);
                    @include border-radius(0);
                    margin: 0;
                    box-sizing: border-box;
                    background-color: $primaryColor;
                    border-right: 1px solid darken($primaryColor, 5%);
                    margin-right: 0;

                    a {
                        @include transition(background-color $transitionDuration);
                        padding: $tabHeaderPadding;
                        color: $headerTextColor;
                        outline: 0 none;

                        .ui-tabview-left-icon {
                            margin-right: .25em;
                        }

                        .ui-tabview-right-icon {
                            margin-left: .25em;
                        }

                        &:focus {
                            background-color: darken($primaryColor, 15%);
                        }
                    }

                    .ui-tabview-close {
                        margin-top: .65em;
                    }

                    &:not(.ui-state-active):not(.ui-state-disabled):hover {
                        background-color: darken($primaryColor, 15%);

                        .fa-times {
                            color: $headerIconHoverColor;
                        }
                    }

                    &.ui-state-active {
                        background-color: $highlightBgColor;
                        color: $primaryTextColor;

                        a {
                            color: $primaryTextColor;

                            &:focus {
                                background-color: darken($highlightBgColor, 15%);
                            }
                        }

                        .ui-icon-close {
                            color: $highlightTextColor;
                        }
                    }

                    .ui-icon-close {
                        color: $headerIconColor;
                        margin-top: .5em;
                    }
                }
            }
        }

        &.ui-tabview-left,&.ui-tabview-right {
            .ui-tabview-nav {
                li, li a {
                    width: 100%;
                }
            }

            .ui-tabview-panel {
                border-top: 1px solid $contentBorderColor;
                border-left: 0 none;
                border-right: 0 none;
            }
        }

        .ui-tabview-panel {
            padding: $contentPadding;
            border: 1px solid $contentBorderColor;
            border-top: 0 none;
        }
    }

    .ui-toolbar {
        background-color: $contentBgColor;
        border-color: $contentBorderColor;
        padding: $headerPadding;

        .fa-bars {
          color: black;
        }
    }
}

@media (max-width: 640px) {
    body {
        .ui-panelgrid {
            .ui-grid-responsive {
                .ui-grid-row {
                    border: 0 none;
                }
            }
        }
    }
}
*/