<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140270447772-iq8p9sc17rqtpesrd0ps7me9cepell4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140270447772-iq8p9sc17rqtpesrd0ps7me9cepell4c</string>
	<key>API_KEY</key>
	<string>AIzaSyBGig_O3uq0fYEkqhmKYRX-QYvHdRD83ZE</string>
	<key>GCM_SENDER_ID</key>
	<string>140270447772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boomhr</string>
	<key>PROJECT_ID</key>
	<string>boom-hr</string>
	<key>STORAGE_BUCKET</key>
	<string>boom-hr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140270447772:ios:d822927b1c29661318d159</string>
</dict>
</plist>